# Stats Compass Core - Column Operations

This notebook demonstrates the column manipulation tools:
- `drop_columns` - Remove columns from a DataFrame
- `rename_columns` - Rename columns using a mapping
- `add_column` - Add new columns with expressions or constant values

In [1]:
# Setup
import numpy as np
import pandas as pd

from stats_compass_core import DataFrameState, registry

# Initialize state
state = DataFrameState()
registry.auto_discover()
print("Stats Compass Core ready!")

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 758, in start
    self.io_loop.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 211, in start
    self.asyncio_loop.run_forever()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 1986, in _run_once
    handle._run()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 614, in shell_main
    await self.dispatch_shell(msg, subshell_id=subshell_id)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 471, in dispatch_shell
    await result
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 366, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 827, in execute_request
    reply_content = await reply_content
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 458, in do_execute
    res = shell.run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 663, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3123, in run_cell
    result = self._run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3178, in _run_cell
    result = runner(coro)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3400, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3641, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3701, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/1b/k03k_fmx6jjf9txbx46k0fs80000gn/T/ipykernel_57897/954930422.py", line 3, in <module>
    import pandas as pd
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/__init__.py", line 26, in <module>
    from pandas.compat import (
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/compat/__init__.py", line 29, in <module>
    from pandas.compat.pyarrow import (
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/compat/pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 758, in start
    self.io_loop.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 211, in start
    self.asyncio_loop.run_forever()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 1986, in _run_once
    handle._run()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 614, in shell_main
    await self.dispatch_shell(msg, subshell_id=subshell_id)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 471, in dispatch_shell
    await result
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 366, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 827, in execute_request
    reply_content = await reply_content
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 458, in do_execute
    res = shell.run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 663, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3123, in run_cell
    result = self._run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3178, in _run_cell
    result = runner(coro)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3400, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3641, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3701, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/1b/k03k_fmx6jjf9txbx46k0fs80000gn/T/ipykernel_57897/954930422.py", line 3, in <module>
    import pandas as pd
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/__init__.py", line 49, in <module>
    from pandas.core.api import (
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/core/api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pandas/core/dtypes/dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.5 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelapp.py", line 758, in start
    self.io_loop.start()
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/tornado/platform/asyncio.py", line 211, in start
    self.asyncio_loop.run_forever()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 641, in run_forever
    self._run_once()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/base_events.py", line 1986, in _run_once
    handle._run()
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 614, in shell_main
    await self.dispatch_shell(msg, subshell_id=subshell_id)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 471, in dispatch_shell
    await result
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 366, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/kernelbase.py", line 827, in execute_request
    reply_content = await reply_content
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 458, in do_execute
    res = shell.run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/ipykernel/zmqshell.py", line 663, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3123, in run_cell
    result = self._run_cell(
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3178, in _run_cell
    result = runner(coro)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3400, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3641, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/IPython/core/interactiveshell.py", line 3701, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/1b/k03k_fmx6jjf9txbx46k0fs80000gn/T/ipykernel_57897/954930422.py", line 5, in <module>
    from stats_compass_core import DataFrameState, registry
  File "/Users/tunjiogunbiyi/Dev/stats-compass-core/stats_compass_core/__init__.py", line 52, in <module>
    registry.auto_discover()
  File "/Users/tunjiogunbiyi/Dev/stats-compass-core/stats_compass_core/registry.py", line 192, in auto_discover
    importlib.import_module(module_name)
  File "/opt/homebrew/Cellar/python@3.12/3.12.5/Frameworks/Python.framework/Versions/3.12/lib/python3.12/importlib/__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/Users/tunjiogunbiyi/Dev/stats-compass-core/stats_compass_core/transforms/__init__.py", line 10, in <module>
    from stats_compass_core.transforms.mean_target_encoding import mean_target_encoding
  File "/Users/tunjiogunbiyi/Dev/stats-compass-core/stats_compass_core/transforms/mean_target_encoding.py", line 22, in <module>
    from sklearn.preprocessing import TargetEncoder
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/__init__.py", line 73, in <module>
    from .base import clone  # noqa: E402
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/base.py", line 19, in <module>
    from .utils._metadata_requests import _MetadataRequester, _routing_enabled
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/__init__.py", line 9, in <module>
    from ._chunking import gen_batches, gen_even_slices
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/_chunking.py", line 11, in <module>
    from ._param_validation import Interval, validate_params
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/_param_validation.py", line 17, in <module>
    from .validation import _is_arraylike_not_scalar
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/validation.py", line 21, in <module>
    from ..utils._array_api import _asarray_with_order, _is_numpy_namespace, get_namespace
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/_array_api.py", line 20, in <module>
    from .fixes import parse_version
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/sklearn/utils/fixes.py", line 421, in <module>
    import pyarrow
  File "/Users/tunjiogunbiyi/Library/Caches/pypoetry/virtualenvs/stats-compass-core-Fp_i9RUT-py3.12/lib/python3.12/site-packages/pyarrow/__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

AttributeError: _ARRAY_API not found

Stats Compass Core ready!

In [2]:
# Create sample e-commerce order data
np.random.seed(42)
n_orders = 100

orders = pd.DataFrame({
    'order_id': range(1001, 1001 + n_orders),
    'customer_id': np.random.randint(1, 21, n_orders),
    'product_name': np.random.choice(['Widget', 'Gadget', 'Gizmo', 'Doohickey'], n_orders),
    'unit_price': np.random.choice([29.99, 49.99, 19.99, 99.99], n_orders),
    'quantity': np.random.randint(1, 5, n_orders),
    'discount_pct': np.random.choice([0, 5, 10, 15, 20], n_orders),
    'order_date': pd.date_range('2024-01-01', periods=n_orders, freq='6h'),
    'internal_code': np.random.randint(10000, 99999, n_orders),
    'legacy_flag': 'N',
})

state.set_dataframe(orders, name='orders', operation='create')
print(f"Created orders DataFrame: {orders.shape}")
orders.head()

Created orders DataFrame: (100, 9)

,order_id,customer_id,product_name,unit_price,quantity,discount_pct,order_date,internal_code,legacy_flag
0,1001,7,Gizmo,99.99,2,10,2024-01-01 00:00:00,26896,N
1,1002,20,Doohickey,99.99,4,15,2024-01-01 06:00:00,56175,N
2,1003,15,Doohickey,29.99,1,10,2024-01-01 12:00:00,17805,N
3,1004,11,Gadget,99.99,4,0,2024-01-01 18:00:00,15237,N
4,1005,8,Gizmo,29.99,4,0,2024-01-02 00:00:00,30056,N

---
## 1. Drop Columns

Remove unwanted columns from a DataFrame.

In [3]:
from stats_compass_core.data.drop_columns import DropColumnsInput, drop_columns

In [4]:
# Drop internal columns that aren't needed for analysis
result = drop_columns(state, DropColumnsInput(
    dataframe_name='orders',
    columns=['internal_code', 'legacy_flag'],
    save_as='orders_clean'
))

print(result.message)
print(f"\nColumns before: {list(state.get_dataframe('orders').columns)}")
print(f"Columns after:  {list(state.get_dataframe('orders_clean').columns)}")

Dropped 2 column(s): ['internal_code', 'legacy_flag']

Columns before: ['order_id', 'customer_id', 'product_name', 'unit_price', 'quantity', 'discount_pct', 'order_date', 'internal_code', 'legacy_flag']
Columns after:  ['order_id', 'customer_id', 'product_name', 'unit_price', 'quantity', 'discount_pct', 'order_date']

In [5]:
# Using errors='ignore' to skip columns that don't exist
result = drop_columns(state, DropColumnsInput(
    dataframe_name='orders_clean',
    columns=['nonexistent_column', 'another_missing'],
    errors='ignore'  # Won't raise error
))

print(result.message)

Dropped 0 column(s): []

---
## 2. Rename Columns

Rename columns to more descriptive or standardized names.

In [6]:
from stats_compass_core.data.rename_columns import RenameColumnsInput, rename_columns

In [7]:
# Rename columns to snake_case and more descriptive names
result = rename_columns(state, RenameColumnsInput(
    dataframe_name='orders_clean',
    mapping={
        'unit_price': 'price',
        'discount_pct': 'discount_percent',
    },
    save_as='orders_renamed'
))

print(result.message)
state.get_dataframe('orders_renamed').head()

ValidationError: 2 validation errors for RenameColumnsInput
mappings
  Field required [type=missing, input_value={'dataframe_name': 'order...e_as': 'orders_renamed'}, input_type=dict]
    For further information visit https://errors.pydantic.dev/2.12/v/missing
mapping
  Extra inputs are not permitted [type=extra_forbidden, input_value={'unit_price': 'price', '...ct': 'discount_percent'}, input_type=dict]
    For further information visit https://errors.pydantic.dev/2.12/v/extra_forbidden

In [ ]:
# Rename with errors='ignore' - skip columns that don't exist
result = rename_columns(state, RenameColumnsInput(
    dataframe_name='orders_renamed',
    mapping={
        'price': 'item_price',
        'missing_col': 'new_name'  # This column doesn't exist
    },
    errors='ignore'
))

print(result.message)
print(f"Columns: {list(state.get_dataframe('orders_renamed').columns)}")

Renamed 1 column(s): 'price' â†’ 'item_price'
Columns: ['order_id', 'customer_id', 'product_name', 'item_price', 'quantity', 'discount_percent', 'order_date']

---
## 3. Add Column

Add new columns using expressions (computed from existing columns) or constant values.

In [ ]:
from stats_compass_core.data.add_column import AddColumnInput, add_column

In [ ]:
# Calculate subtotal using an expression
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='subtotal',
    expression='item_price * quantity'
))

print(result.message)
state.get_dataframe('orders_renamed')[['item_price', 'quantity', 'subtotal']].head()

Added new column 'subtotal' = item_price * quantity

   item_price  quantity  subtotal
0       99.99         2    199.98
1       99.99         4    399.96
2       29.99         1     29.99
3       99.99         4    399.96
4       29.99         4    119.96

In [ ]:
# Calculate discount amount
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='discount_amount',
    expression='subtotal * discount_percent / 100'
))

print(result.message)

Added new column 'discount_amount' = subtotal * discount_percent / 100

In [ ]:
# Calculate final total
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='total',
    expression='subtotal - discount_amount'
))

print(result.message)
state.get_dataframe('orders_renamed')[['subtotal', 'discount_percent', 'discount_amount', 'total']].head()

Added new column 'total' = subtotal - discount_amount

   subtotal  discount_percent  discount_amount    total
0    199.98                10           19.998  179.982
1    399.96                15           59.994  339.966
2     29.99                10            2.999   26.991
3    399.96                 0            0.000  399.960
4    119.96                 0            0.000  119.960

In [ ]:
# Add a constant value column
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='currency',
    value='USD'
))

print(result.message)

Added new column 'currency' = 'USD'

In [ ]:
# Add a numeric constant
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='tax_rate',
    value=0.08  # 8% tax
))

print(result.message)

Added new column 'tax_rate' = 0.08

In [ ]:
# Calculate tax amount using the tax_rate
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='tax_amount',
    expression='total * tax_rate'
))

print(result.message)

Added new column 'tax_amount' = total * tax_rate

In [ ]:
# Final total with tax
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='grand_total',
    expression='total + tax_amount'
))

print(result.message)
state.get_dataframe('orders_renamed')[['total', 'tax_rate', 'tax_amount', 'grand_total', 'currency']].head()

Added new column 'grand_total' = total + tax_amount

     total  tax_rate  tax_amount  grand_total currency
0  179.982      0.08    14.39856    194.38056      USD
1  339.966      0.08    27.19728    367.16328      USD
2   26.991      0.08     2.15928     29.15028      USD
3  399.960      0.08    31.99680    431.95680      USD
4  119.960      0.08     9.59680    129.55680      USD

In [ ]:
# Overwrite an existing column (update tax_rate to 10%)
result = add_column(state, AddColumnInput(
    dataframe_name='orders_renamed',
    column_name='tax_rate',  # Already exists
    value=0.10
))

print(result.message)  # Will say "Updated existing column"

Updated existing column 'tax_rate' = 0.1

---
## 4. Combined Workflow

Use all three tools together to prepare data for analysis.

In [ ]:
# Start fresh with original data
raw_data = pd.DataFrame({
    'emp_id': [1, 2, 3, 4, 5],
    'emp_name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'dept_code': ['ENG', 'MKT', 'ENG', 'HR', 'MKT'],
    'base_salary': [75000, 65000, 80000, 55000, 70000],
    'years_exp': [5, 3, 7, 2, 4],
    'temp_col_1': 'delete_me',
    'temp_col_2': 'also_delete',
})
state.set_dataframe(raw_data, name='employees_raw', operation='create')
print("Raw data:")
raw_data

Raw data:

   emp_id emp_name dept_code  base_salary  years_exp temp_col_1   temp_col_2
0       1    Alice       ENG        75000          5  delete_me  also_delete
1       2      Bob       MKT        65000          3  delete_me  also_delete
2       3  Charlie       ENG        80000          7  delete_me  also_delete
3       4    Diana        HR        55000          2  delete_me  also_delete
4       5      Eve       MKT        70000          4  delete_me  also_delete

In [ ]:
# Step 1: Drop temporary columns
drop_columns(state, DropColumnsInput(
    dataframe_name='employees_raw',
    columns=['temp_col_1', 'temp_col_2'],
    save_as='employees_step1'
))
print("Step 1: Dropped temp columns")

Step 1: Dropped temp columns

In [ ]:
# Step 2: Rename columns to be more descriptive
rename_columns(state, RenameColumnsInput(
    dataframe_name='employees_step1',
    mapping={
        'emp_id': 'employee_id',
        'emp_name': 'name',
        'dept_code': 'department',
        'years_exp': 'experience_years'
    },
    save_as='employees_step2'
))
print("Step 2: Renamed columns")

Step 2: Renamed columns

In [ ]:
# Step 3: Add computed columns
# Experience bonus: $2000 per year of experience
add_column(state, AddColumnInput(
    dataframe_name='employees_step2',
    column_name='experience_bonus',
    expression='experience_years * 2000'
))

# Total compensation
add_column(state, AddColumnInput(
    dataframe_name='employees_step2',
    column_name='total_compensation',
    expression='base_salary + experience_bonus',
    save_as='employees_final'
))

print("Step 3: Added computed columns")

Step 3: Added computed columns

In [ ]:
# View final result
print("\nFinal employee data:")
state.get_dataframe('employees_final')

Final employee data:

,employee_id,name,department,base_salary,experience_years,experience_bonus,total_compensation
0,1,Alice,ENG,75000,5,10000,85000
1,2,Bob,MKT,65000,3,6000,71000
2,3,Charlie,ENG,80000,7,14000,94000
3,4,Diana,HR,55000,2,4000,59000
4,5,Eve,MKT,70000,4,8000,78000

---
## Summary

Column operation tools provide essential DataFrame manipulation:

| Tool | Purpose | Key Parameters |
|------|---------|----------------|
| `drop_columns` | Remove columns | `columns` (list), `errors` |
| `rename_columns` | Rename columns | `mapping` (dict) |
| `add_column` | Add/transform columns | `column_name`, `expression` OR `value` |

All tools support `save_as` to create new DataFrames without modifying the original.

In [ ]:
# Check state
summary = state.get_state_summary()
print(f"DataFrames in state: {len(summary['dataframes'])}")
for df_info in summary['dataframes']:
    print(f"  - {df_info['name']}: {df_info['shape'][0]} rows Ã— {df_info['shape'][1]} cols")

DataFrames in state: 7
  - orders: 100 rows Ã— 9 cols
  - orders_clean: 100 rows Ã— 7 cols
  - orders_renamed: 100 rows Ã— 14 cols
  - employees_raw: 5 rows Ã— 7 cols
  - employees_step1: 5 rows Ã— 5 cols
  - employees_step2: 5 rows Ã— 6 cols
  - employees_final: 5 rows Ã— 7 cols